#main {
  background-color: rgb(168, 216, 235);
}

div {
  text-align: center;
  margin-top: 170px;
}

a:link {
  text-shadow: -1px 0 skyblue, 0 1px skyblue, 1px 0 skyblue, 0 -1px skyblue;
  color: aliceblue;
  text-decoration: none;
}

a:visited {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: rgb(180, 218, 252);
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px; /*html 기본 여백 없애기*/
  background-color: rgb(168, 216, 235);
  cursor: url(../Img/Cinnamoroll.cur), auto;
}

#site {
  position: fixed;

  top: 0px;
  width: 100%;
  border-spacing: 0px;

  background-color: white;
}

#siteTitle {
  text-align: center;
  width: 10%;
  height: 60px;
  margin-bottom: 20pt;
}

#siteMenu {
  text-align: center;
  width: 100%;
  margin-left: 100pt;
  margin-right: 80pt;
  margin-top: 10pt;
  margin-bottom: 15pt;
}

#contentTbl {
  margin-top: 100px;
  width: 100%;
}

#titleImg {
  margin-left: 100px;

  width: 40%;
}

tr {
  text-align: center;
}

.info {
  text-shadow: -1px 0 rgb(51, 175, 224), 0 1px rgb(51, 175, 224),
    1px 0 rgb(51, 175, 224), 0 -1px rgb(51, 175, 224);
  border-style: solid;
  border-color: skyblue;
  border-width: 4px 0 4px 0;
  border-style: dashed;
  background-color: white;
  padding: 12px;
  word-break: break-all;
  margin-bottom: 100px;
  color: rgb(198, 226, 250);
}

/*
  text-align: center;
  width: 600px;
  height: 500px;
  border: 4px solid white;
  border-style: dashed;
  margin-top: 100px;

  color: black;

  font-size: 12pt;
  height: 30px;*/

#profileimg {
  text-align: center;
  margin-top: 10px;
}

#profile {
  text-align: center;
  border: 4px solid skyblue;
  border-style: dashed;
  width: 300px;
  font-size: 13pt;
  text-shadow: -1px 0 rgb(23, 176, 236), 0 1px rgb(26, 188, 252),
    1px 0 rgb(24, 169, 226), 0 -1px rgb(56, 175, 223);
  background-color: white;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
}

#video {
  margin-top: 180px;
}

#friendTbl {
  position: inherit;
  margin-top: 200px;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
}

#friendTbl2 {
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
::-webkit-scrollbar {
  display: none;
}
